# add this more times maybe github desktop will finally understand to ignore it...
# DO NOT push this file, else you're going to upload sensitive information (password hash)

system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
system/config.json
node_modules/
node_modules/

system/.env
system/mail-error.log
system/mariowos.log
